<div class="container mt-5">
  <p class="fs-5">Ask your coach anything:</p>
  <form action="/ask" method="get" class="mt-4">
  <div class="mb-3">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
   </div>
  </form>
</div>
